<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.DocumentDAO">


    <select id="queryAll" resultType="document" parameterType="String">
      select * from document where user_id=#{userId}
    </select>


    <delete id="delete" parameterType="String">
      delete from document where id=#{id}
    </delete>


    <insert id="add" parameterType="document">
      insert into document values(#{id},#{originalName},
      #{newName},#{extension},
      #{storagePath},#{fileSize},
      #{fileType},#{isImage},
      #{downloadTimes},#{userId})
    </insert>


    <update id="update" parameterType="document">
      update document set original_name=#{originalName},new_name=#{newName},
      extension=#{extension},storage_path=#{storagePath},
      file_size=#{fileSize},file_type=#{fileType},
      is_image=#{isImage},download_times=#{downloadTimes},user_id=#{userId}
      where id=#{id}
    </update>


</mapper>